/*=================================================================================================
===================================================================================================
-----STANDARDS-----
CSS FRAMEWORK: Zurb Foundation https://foundation.zurb.com/
cursive text:
    * font color: #141414;
    * font-family: 'Petit Formal Script', cursive;
===================================================================================================
=================================================================================================== */
/*--START OF INDEX.HTML */
#welcome-header {
    font-family: 'Petit Formal Script', cursive;
    font-size: 72px;
    color: #D3D3D3;;
}

#welcome-button {
    border-radius: 5px;
    background-color: #D3D3D3;
    color: #141414;
    text-align: right; 
    font-size: 1.5rem;
    padding: 14px 45px;
}

#welcome {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 5px;
    position: relative;
    top: 8%;
}




.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("../images/conference_of_Larry.jpg") center center no-repeat;
    
  }
  
  .hero-full-screen .middle-content-section {
    text-align: center;
    color: #fefefe;
    font-family: 'Petit Formal Script', cursive;
  }

/*  Larror page */

#larrorPic{
    background: url("../images/LarryStooge2.jpeg") center center no-repeat;
    background-size: contain;
}

#topLarror {
    vertical-align: middle;
    font-size: 100px;
    font-weight: bold;
    margin-top: 50px;
    color: red;
}

#larryBack {
    color: white !important;
}
  /*--END OF INDEX.HTML */
/*==============================================================================================================*/
